html, body {
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(rgb(255, 255, 255), rgb(214, 214, 214));
  font-family: 'Elephant', serif, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.text {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  padding: 10px;
}